
<div class="row">
  
  <div class="span6">
    Buscar viajes... <%= @infoVar %>
    Buscar viajes... <%= @infoPass %>
    Etc...

  </div>

  <div class="span6">
    La otra mitad

  </div>


</div>

