<div class="row">
  
  <div class="span6">
    Buscar viajes...
    Etc...

  </div>

  <div class="span6">
    La otra mitad

  </div>


</div>



<div class="row">
  
  <div class="span6">
    Buscar viajes...
    Etc...

  </div>

  <div class="span6">
    La otra mitad

  </div>


</div>


<div class="row">
  
  <div class="span6">
    Buscar viajes...
    Etc...

  </div>

  <div class="span6">
    La otra mitad

  </div>


</div>


<div class="row">
  
  <div class="span6">
    Buscar viajes...
    Etc...

  </div>

  <div class="span6">
    La otra mitad

  </div>


</div>

