<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="formHeading"><%= @formHeading %></h3>
</div>
<div class="modal-body">

<form class="form-horizontal">
  <div class="control-group" id="ctrlGrpInputEmail">
    <label class="control-label" for="inputEmail">Correo</label>
    <div class="controls">
      <input type="email" id="inputEmail" placeholder="Correo electrónico" value="mike@mike.com">
      <span class="help-inline" id="helpInputEmail"></span>
    </div>
  </div>
  <div class="control-group" id="ctrlGrpInputPassword">
    <label class="control-label" for="inputPassword">Contraseña</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Contraseña" value="Mike123">
      <span class="help-inline" id="helpInputPassword"></span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPasswordRepeat">Repetir</label>
    <div class="controls">
      <input type="password" id="inputPasswordRepeat" placeholder="Repetir Contraseña" value="Mike123">
    </div>
  </div>
</form>



</div>
<div class="modal-footer">
  <a id="fb-login" class="signInFBBtn" href="#" alt="Connect with Facebook"></a>
  <button id="btnCancelarRegistro" class="btn" data-dismiss="modal" >Cancelar</button>
  <button type="submit" id="btnEnviarRegistro" class="btn btn-primary" >Registrarse</button>

</div>