<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="formHeading"><%= @formHeading %></h3>
</div>
<div class="modal-body">

  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputEmail">Correo</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="Correo electrónico">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Contraseña</label>
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="Contraseña">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPasswordRepeat">Repetir</label>
      <div class="controls">
        <input type="password" id="inputPasswordRepeat" placeholder="Repetir Contraseña">
      </div>
    </div>
  </form>



</div>
<div class="modal-footer">
  <a id="fb-login" class="signInFBBtn" href="#" alt="Connect with Facebook"></a>
  <button class="btn" data-dismiss="modal" >Cancelar</button>
  <button class="btn btn-primary" >Registrarse</button>
</div>