<form id="frmLogin" class="navbar-form pull-right">
  <input class="span2" type="text" placeholder="usuario">
  <input class="span2" type="password" placeholder="contraseña">
  <button type="submit" class="btn">vamos!</button>
</form>