<div id="header">
  <h1>Llevame a upa</h1>
  <p>Bienvenidos a llevame.com</p>
</div>

        <div id="about">
          <h3><a href="rails/info/properties" onclick="acercaDe(); return false">Quienes somos?</a></h3>
          <div id="about-content" style="display: none"></div>
        </div>

        <div id="getting-started">
          <h1>Quiero mantenerme al tanto!</h1>
          <h2>Dejanos tu correo electr&oacutenico y podremos informarte sobre novedades:</h2>

          <ol>
            <li>
              <h2>Eleg&iacute tu viaje</h2>
              <p>Pod&eacutes ver las ciudades mas cercanas.</p>
            </li>

          </ol>
        </div>