<h3>Agregá tu próximo viaje</h3>
<div class="row">
  <div class="span7" id="scopeAgregar">
    <div class="row">
      <form name="frmViaje" class="form-horizontal">
        <fieldset>
          <legend>A dónde vayas, llevame!</legend>

          <div class="control-group">
            <label class="control-label" for="flexible">Vehiculo</label>
            <div class="controls">
              <select ng-model="viaje.vehiculo">
                <option ng-repeat="menuVehiculo in menuVehiculos" value="{{menuVehiculo.getName()}}">
                  {{menuVehiculo.getName()}}
                </option>
              </select>
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="desde">Lugar de salida</label>
            <div class="controls">
              <input type="text" ng-model="viaje.desde" required value="Montevideo">
              <span class="help-inline">Ver en el mapa</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="hacia">Lugar de llegada</label>
            <div class="controls">
              <input type="text" ng-model="viaje.hacia" required >
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="cuando">Cuando</label>
            <div class="controls">
              <div class="input-append date">
                <input class="span2" size="16" type="text" ng-model="viaje.fecha" ui-date="{ minDate: 'new Date()' }">
                <span class="add-on" ><i class="icon-th"></i></span>
              </div>
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="hora">A qué hora?</label>
            <div class="controls">
              <div class="input-append bootstrap-timepicker-component">
                <input type="text" ui-jq="timepicker"
                       ui-options="timePickerOpts"
                       ng-model="viaje.hora"
                       class="timepicker-default input-small"/>
                <span class="add-on">
                  <i class="icon-time"></i>
                </span>
              </div>
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="flexible"></label>
            <div class="controls">
              <input type="checkbox" id="flexible" ng-model="viaje.flexible" >
              <span class="help-inline">Horario Flexible</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="paradas">Paradas</label>
            <div class="controls">
              <input type="text" id="paradas" ng-model="viaje.paradas" >
              <span class="help-inline">Pienso hacer estas paradas intermedias</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="amigos">Invitar Amigos</label>
            <div class="controls">
              <input type="text" id="amigos" disabled value="Próximamente!">
              <span class="help-inline"></span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="span5">
    <div class="row">
      <form name="frmViaje" class="form-horizontal">
        <fieldset>
          <legend>Contá más de tu viaje</legend>
          <div class="control-group">
            <label class="control-label" for="pasaje">Pasaje</label>
            <div class="controls">
              <input type="text" id="pasaje" ng-model="viaje.pasaje" >
              <span class="help-inline">Pueden ayudar con el combustible?</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="animales">Animales</label>
            <div class="controls">
              <input type="checkbox" id="animales" ng-model="viaje.animales" >
              <span class="help-inline">Podés traer a tu mascota!</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="peaje">Peajes</label>
            <div class="controls">
              <input type="checkbox" id="peaje" ng-model="viaje.peaje" >
              <span class="help-inline">Pueden ayudar con los peajes?</span>
            </div>
          </div>

          <!--<iframe width="90%" height="320px"-->
          <!--frameborder="0" scrolling="yes"-->
          <!--marginheight="0" marginwidth="0"-->
          <!--src="https://maps.google.com/?&amp;ll=-34.905361,-56.163483&amp;spn=0.053074,0.111494&amp;t=h&amp;z=14&amp;output=embed">-->
          <!--</iframe>-->
        </fieldset>
      </form>
    </div>
  </div>
  <div class="span12" id="scopeAgregar">
    <div class="control-group">
      <div class="form-actions">
        <input type="button" value="Cancelar" class="btn btn-warning" ng-click="cancelar()"/>
        <input type="button" value="Agregar Viaje" class="btn btn-success" ng-click="addTrip()"/>
      </div>
    </div>
  </div>
</div>
