<h3>Agregá tu próximo viaje</h3>
<div class="row">
  <div class="span7" id="scopeAgregar">
    <div class="row">
      <form name="frmViaje" class="form-horizontal">
        <fieldset>
          <legend>A dónde vayas, llevame!</legend>
          <div class="control-group">
            <label class="control-label" for="desde">Lugar de salida</label>
            <div class="controls">
              <input type="text" ng-model="viaje.desde" required value="Montevideo">
              <span class="help-inline">Ver en el mapa</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="hacia">Lugar de llegada</label>
            <div class="controls">
              <input type="text" ng-model="viaje.hacia" required >
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="cuando">Cuando</label>
            <div class="controls">
              <div class="input-append date" id="fechaSalida" data-date-format="dd-mm-yyyy">
                <input class="span2" size="16" type="text" ng-model="viaje.fecha">
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="hora">A qué hora?</label>
            <div class="controls">
              <div class="input-append bootstrap-timepicker-component">
                <input type="text" id="horaSalida" ng-model="viaje.hora" class="timepicker-default input-small">
                  <span class="add-on">
                  <i class="icon-time"></i>
                  </span>
                </div>
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="flexible"></label>
            <div class="controls">
              <input type="checkbox" id="flexible" ng-model="viaje.flexible" >
              <span class="help-inline">Horario Flexible</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="flexible">Invitar Amigos</label>
            <div class="controls">
              <input type="text" id="flexible">
              <span class="help-inline"></span>
              <ul>
                <li>Amigo 1 <span class="icon-remove"></span></li>
                <li>Amigo 2 <span class="icon-remove"></span></li>
                <li>Amigo 3 <span class="icon-remove"></span></li>
              </ul>
            </div>
          </div>
          <div class="control-group">
            <div class="form-actions">
              <input type="button" value="Cancelar" class="btn btn-warning" ng-click="cancelar()"/>
              <input type="button" value="Agregar Viaje" class="btn btn-success" ng-click="agregarViaje()"/>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="span5">
    <!--<iframe width="90%" height="320px"-->
    <!--frameborder="0" scrolling="yes"-->
    <!--marginheight="0" marginwidth="0"-->
    <!--src="https://maps.google.com/?&amp;ll=-34.905361,-56.163483&amp;spn=0.053074,0.111494&amp;t=h&amp;z=14&amp;output=embed">-->
    <!--</iframe>-->

  </div>
</div>
