<h3>Compartí las experiencias de tus viajes!</h3>
<div class="row">
  <div class="span6">
    <fieldset>
      <legend>Mis Viajes</legend>
      <table class="table">
        <thead>
        <tr>
          <th>Conductor</th>
          <th>Vehiculo</th>
          <th>Origen</th>
          <th>Destino</th>
          <th>Fecha</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Mark Otto</td>
          <td>@mdo</td>
          <td>Montevideo</td>
          <td>Punta del Este</td>
          <td>27/1/2013</td>
          <td><input type="checkbox" /></td>
        </tr>
        <tr>
          <td>Mark Otto</td>
          <td>@mdo</td>
          <td>Montevideo</td>
          <td>Punta del Este</td>
          <td>27/1/2013</td>
          <td><input type="checkbox" /></td>
        </tr>
        <tr>
          <td>Mark Otto</td>
          <td>@mdo</td>
          <td>Montevideo</td>
          <td>Punta del Este</td>
          <td>27/1/2013</td>
          <td><input type="checkbox" /></td>
        </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
  <div class="span6">
    <fieldset>
      <legend>Comentarios</legend>
      Viaje : Viaje 1

    </fieldset>
    <fieldset>
      <legend>Fotos</legend>
      Fotos del viaje

    </fieldset>
  </div>
</div>

