<h3>Compartí las experiencias de tus viajes!</h3>
<div class="row">
  <div class="span8">
    <fieldset>
      <legend>Mis próximos viajes</legend>
      <table class="table">
        <thead>
          <tr>
            <th>Desde</th>
            <th>Hacia</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Flexible</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="viaje in listaMisProximos">
            <td>{{viaje.desde}}</td>
            <td>{{viaje.hacia}}</td>
            <td>{{viaje.fecha | date:'EEE dd/MM/yyyy' }}</td>
            <td>{{viaje.hora | date:'HH:mm' }}</td>
            <td>{{viaje.flexible}}</td>
            <td><input type="button" value="Detalles" class="btn btn-mini btn-primary" ng-click=""/></td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <fieldset>
      <legend>Mis Viajes Realizados</legend>
      <table class="table">
        <thead>
        <tr>
          <th>Desde</th>
          <th>Hacia</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Flexible</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="viaje in listaRealizados">
          <td>{{viaje.desde}}</td>
          <td>{{viaje.hacia}}</td>
          <td>{{viaje.fecha | date:'EEE dd/MM/yyyy' }}</td>
          <td>{{viaje.hora | date:'HH:mm' }}</td>
          <td>{{viaje.flexible}}</td>
          <td><input type="button" value="Calificar" class="btn btn-mini btn-primary" ng-click=""/></td>
        </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
  <div class="span4">
    <fieldset>

    </fieldset>
  </div>
</div>

