<h3>Compartí las experiencias de tus viajes!</h3>
<div class="row">
  <div class="span8" id="scopeMyTrips">
    <fieldset>
      <legend>Mis próximos viajes</legend>
      <table class="table">
        <thead>
          <tr>
            <th>Conductor</th>
            <th>Vehiculo</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Fecha</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="viaje in listaViajes">
            <td>{{viaje.desde}}</td>
            <td>{{viaje.hacia}}</td>
            <td>{{viaje.fecha}}</td>
            <td>{{viaje.hora}}</td>
            <td>{{viaje.flexible}}</td>
            <td><input type="button" value="Detalles" class="btn btn-mini btn-primary" ng-click=""/></td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <fieldset>
      <legend>Mis Viajes Realizados</legend>
      <table class="table">
        <thead>
        <tr>
          <th>Conductor</th>
          <th>Vehiculo</th>
          <th>Origen</th>
          <th>Destino</th>
          <th>Fecha</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Mark Otto</td>
          <td>@mdo</td>
          <td>Montevideo</td>
          <td>Punta del Este</td>
          <td>27/1/2013</td>

        </tr>
        <tr>
          <td>Mark Otto</td>
          <td>@mdo</td>
          <td>Montevideo</td>
          <td>Punta del Este</td>
          <td>27/1/2013</td>

        </tr>
        <tr>
          <td>Mark Otto</td>
          <td>@mdo</td>
          <td>Montevideo</td>
          <td>Punta del Este</td>
          <td>27/1/2013</td>

        </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
  <div class="span4">
    <fieldset>
      <legend>Comentarios</legend>
      Viaje : Viaje 1
      <br/>
      <textarea class="span2" size="16" />
      <br/>
      <input type="button" value="Comentar" class="btn btn-mini btn-warning" ng-click=""/>

    </fieldset>
    <fieldset>
      <legend>Fotos</legend>
      Fotos del viaje
      <br/>
      <input type="button" value="Subir Fotos" class="btn btn-mini btn-success" ng-click=""/>

    </fieldset>
  </div>
</div>

