<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a id="btnToggleNavBar" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">llevame.uy</a>
      <div class="nav-collapse collapse" id="mainNavBar">
        <ul class="nav">
          <li ng-repeat="menuItem in menuList">
            <a href="" ng-click="executeMenu(menuItem)" >{{menuItem.getName()}}</a>
          </li>
          </li>
        </ul>
        <div id="divCurrentUser" class="pull-right">
          <form id="frmLogin" class="navbar-form">
            <input id="login" class="span2" type="text" placeholder="usuario">
            <input id="password" class="span2" type="password" placeholder="contraseña">
            <input id="btnLogin" class="btn" value="vamos!" type="submit"/>
          </form>
          <ul id="userNav" class="nav">
            <li>
              <a href="profile">{{user.login}}</a>
            </li>
            <li>
              <a href="/signOut">Log Out</a>
            </li>
          </ul>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div id="errorMsg" class="alert alert-error span4 offset4">
    <button id="btnCloseError" type="button" class="close">×</button>
    <strong id="errorMsgTitle" /> : <span id="errorMsgText" />
  </div>
</div>
