<h3>Editá tu perfil</h3>
<div class="row">
  <perfil-bar></perfil-bar>
  <div class="span9">
    <div class="row">
      <form class="form-horizontal">
        <fieldset>
          <legend>Información Personal</legend>
          <div class="control-group">
            <label class="control-label" for="desde">Nombre</label>
            <div class="controls">
              <input type="text" id="desde" value="{{user.login}}">
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="hacia">Correo Electrónico</label>
            <div class="controls">
              <input type="text" id="hacia" value="{{user.email}}">
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="cuando">Fecha de Nacimiento</label>
            <div class="controls">
              <input type="text" id="cuando" value="{{user.dob}}">
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="flexible">Mis Amigos</label>
            <div class="controls">
              <select multiple id="flexible">
                <option value="Juan">Juan</option>
                <option value="Pedro">Pedro</option>
                <option value="Ringo">Ringo</option>
              </select>
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <div class="form-actions">
              <input type="button" value="Cancelar" class="btn btn-warning" ng-click="searchTrip()"/>
              <input type="button" value="Guardar" class="btn btn-success" ng-click="searchTrip()"/>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
