<h3>Buscá y planeá tus próximos viajes</h3>




<div class="row">
  <div class="span6">
    <div class="row">
      <div class="span2">
        Desde
      </div>
      <div class="span2">
        <input type="text" />
      </div>
    </div>

    <div class="row">
      <div class="span2">
        Hacia
      </div>
      <div class="span2">
        <input type="text" />
      </div>
    </div>


    <div class="row">
      <div class="span2">
        Cuando
      </div>
      <div class="span2">
        <input type="text" />Date
      </div>
    </div>


    <div class="row">
      <div class="span2">
        Flexible
      </div>
      <div class="span3">
        <input type="checkbox" /> Fechas y horarios flexible
      </div>
    </div>
  </div>
  <div class="span5">
    <iframe width="320" height="280"
            frameborder="0" scrolling="yes"
            marginheight="0" marginwidth="0"
            src="https://maps.google.com/?&amp;ll=-34.905361,-56.163483&amp;spn=0.053074,0.111494&amp;t=h&amp;z=14&amp;output=embed">
    </iframe>

  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table">
      <thead>
      <tr>
        <th>Conductor</th>
        <th>Rep.</th>
        <th>Vehiculo</th>
        <th>Libres</th>
        <th>Total</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Fecha</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Mark Otto</td>
        <td>17</td>
        <td>@mdo</td>
        <td>3</td>
        <td>Montevideo</td>
        <td>Punta del Este</td>
        <td>27/1/2013</td>
        <td><input type="checkbox" /></td>
      </tr>
      <tr>
        <td>Mark Otto</td>
        <td>17</td>
        <td>@mdo</td>
        <td>3</td>
        <td>Montevideo</td>
        <td>Punta del Este</td>
        <td>27/1/2013</td>
        <td><input type="checkbox" /></td>
      </tr>
      <tr>
        <td>Mark Otto</td>
        <td>17</td>
        <td>@mdo</td>
        <td>3</td>
        <td>Montevideo</td>
        <td>Punta del Este</td>
        <td>27/1/2013</td>
        <td><input type="checkbox" /></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

