<h3>Editá tus vehículos</h3>
<div class="row">
  <profile-bar></profile-bar>
  <div class="span9" id="scopeVehicle">
    <div class="row">
      <div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
          <li ng-repeat="menuVehiculo in listaVehiculos">
            <a href="" ng-click="executeMenu(menuVehiculo)" >
              <i class="icon-map-marker"></i>{{menuVehiculo.getName()}}
            </a>
          </li>
          <li>
            <a href="" ng-click="nuevoVehiculo()">
              <i class="icon-plus-sign"></i>[Nuevo]
            </a>
          </li>
        </ul>
      </div>
      <div class="span7">
        <div ng-include="vehicleContent" onload="initVehicle()"></div>
      </div>
    </div>
  </div>
</div>
