/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 * Kuler : #002F32 #42826C #A5C77F #FFC861 #C84663;
*/
html body {
  background-color: #002F32;
  color: #FFC861;
}

h1 {
  text-shadow: 1px 1px 10px #777;
  filter: dropshadow(color=#777, offx=1, offy=1);
}

h1, h2, h3 {
  color: #C84663;
}

#page {
}

#sidebar {
  float: right;
  border: #A5C77F solid 1px;
  margin: 10px;
  width: 300px;
  height: 500px;
}

#footer {
  margin: 0 5% 0 5%;
  float: right;
  width: 90%;
  text-align: center;
  color: #A5C77F;
}