<!DOCTYPE html>
<html>
<head>
  <title>LlevameCom</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>Ingres&aacute !</h3>
            Usuario <br/>
            <input type="textbox"/>
            Contrasena<br/>
            <input type="textbox"/>
            <br/>
            <input type="submit" value="Entrar" />
            <br/>
            <a href="">Olvid&eacute; mi clave</a>
          </li>
          <li>
            <h3>Registrate Y&aacute!</h3>
            <a href="">Crear mi cuenta</a>
          </li>
        </ul>
      </div>

      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">
        Miguel A. Diab (c) 2011 - Todos los derechos reservados&nbsp;
      </div>
    </div>

</body>
</html>
